name: Build and Release

on:
  push:
    branches: [ "main" ]
  release:
    types: [created]

env:
  CARGO_TERM_COLOR: always

jobs:

  build:

    name: Build binaries
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:

          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            suffix: linux

          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            suffix: linux-static

          - os: macos-latest
            target: x86_64-apple-darwin
            suffix: macos

          - os: windows-latest
            target: x86_64-pc-windows-msvc
            suffix: windows.exe

    steps:

      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Install musl tools
        if: matrix.target == 'x86_64-unknown-linux-musl'
        run: sudo apt-get update && sudo apt-get install musl-tools

      - name: Build
        run: cargo build --workspace --release --target ${{ matrix.target }}

      - name: Strip binaries (Linux/macOS)
        if: runner.os != 'Windows'
        run: |
          strip target/${{ matrix.target }}/release/analyzer || true
          strip target/${{ matrix.target }}/release/multi-stresser || true

      - name: Rename binaries
        run: |
          mkdir dist

          if [ "${{ runner.os }}" = "Windows" ]; then
            cp target/${{ matrix.target }}/release/analyzer.exe dist/analyzer-${{ matrix.suffix }}
            cp target/${{ matrix.target }}/release/multi-stresser.exe dist/multi-stresser-${{ matrix.suffix }}
          else
            cp target/${{ matrix.target }}/release/analyzer dist/analyzer-${{ matrix.suffix }}
            cp target/${{ matrix.target }}/release/multi-stresser dist/multi-stresser-${{ matrix.suffix }}
          fi
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ matrix.suffix }}
          path: dist/

      - name: Upload to Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
